
@import url('https://fonts.googleapis.com/css2?family=Gurajada&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font-base: 'Gurajada','Roboto';
    --font-text: 'Poppins';
    --bg-color: #00113d;
}

.base-font {
    font-family: var(--font-base);
}

.text-font {
    font-family: var(--font-text);
}

.bg-color {
    background-color:  var(--bg-color);
}

.text-color {
    color:  var(--bg-color);
}